<div class="jumbotron">
    <h1>My Favorite Quotes With Yeoman</h1>
    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
    </p>
</div>

<div class="row">
    <form class="quote">
        <textarea class="form-control text" ng-model="vm.newQuote.text" rows="3" placeholder="I like..."></textarea>
        <span class="dash">-</span><input type="text" class="form-control author" ng-model="vm.newQuote.author" placeholder="Mr. Smart Dude" />
        <div>
            <button type="submit" class="btn btn-primary pull-right" ng-click="vm.addNewQuote()">Add</button>
        </div>
        <div class="tags">
            <input class="form-control tag" type="text" ng-model="tags" placeholder="love, inspiration, life">
        </div>
    </form>
</div>

<div class="row quotes">
    <ul class="list-group">
        <li ng-repeat="quote in vm.quotes" class="quote list-group-item">
            <p class="text">{{quote.text}}</p>
            <p class="author">- {{quote.author}}</p>
            <div class="tags">
                <span ng-repeat="tag in quote.tags" class="label label-info tag">{{tag}}</span>
            </div>
        </li>
    </ul>
</div>
